<!DOCTYPE html>
    <html>
        <head>
            <title>Build-a-blog</title>
                <style type= "text/css">
                </style>
        </head>
        <body>
            <h1>Build-a-Blog</h1>

        <form method = "post">
            <label>
                <div>title</div>
                <input type = "text" name="title">
            </label>

            <label>
                <div>Post</div>
                <textarea name ="user post"></textarea>
            </label>

            <label>
                <br>
                <input type = "submit">
            </label>
            <div class="error">{{error}}</div>
        </form>




        </body>
    </html>
